
<body>
  <div *ngIf="clientData" class="clinic-info">
    <p>First Name: {{clientData.firstName}}</p>
    <p>Last Name: {{clientData.lastName}}</p>
    <p>Age: {{clientData.age}}</p>
    <p>Gender: {{clientData.gender}}</p>
    <p>Condition: {{clientData.condition}}</p>
    <p>Patient Status: {{clientData.status}}</p>
    <p>Weight (lbs): {{clientData.weight}}</p>
    <p>Dates: </p>
    <span *ngFor="let date of clientData.start">
            {{date}}
          </span>
    <p>Report (Short Description Of Client Ailment): {{clientData.report}}</p>

    <button (click)="deleteClient()">Delete Client</button>
    <button (click)="editClient()">Edit Client</button>
  </div>
</body>
