<body>
  <div class="auth-container">
    <div>
      <div class="error"  *ngIf="error">
        <p>{{ error }}</p>
      </div>


      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            required="true"
            minlength="6"
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            required="true"
            minlength="6"
          />
        </div>
        <div class="button-container">
          <button type="submit" [ngClass]="{'disabled': !authForm.valid}"
                  [disabled]="!authForm.valid">
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
          <span>|</span>
          <button (click)="onSwitchMode()" type="button">
            Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button>
        </div>
      </form>



    </div>
  </div>
</body>
