
<body>
  <div class="clinic-search">
      <input type="text" placeholder="Search by First Name" [(ngModel)]="searchFirstName" (input)="applyFilter()" />
      <input type="text" placeholder="Search by Last Name" [(ngModel)]="searchLastName" (input)="applyFilter()" />
      <button (click)="clearFilter()">Clear</button>
      <button (click)="addClientView()">Add Client</button>
  </div>
  <div class="clinic-client-list" *ngFor="let client of clientData">
      <div class="client-info">
          <p>First Name: {{client.firstName}}</p>
          <p>Last Name: {{client.lastName}}</p>
          <p>Age: {{client.age}}</p>
          <p>Gender: {{client.gender}}</p>
          <p>Condition: {{client.condition}}</p>
          <p>Patient Status: {{client.status}}</p>
          <p>Weight (lbs): {{client.weight}}</p>
          <p>Report (Short Description Of Client Ailment): {{client.report}}</p>

          <button (click)="viewClient(client.id)">View Client</button>
      </div>
      <hr>
  </div>
</body>
