<form *ngIf="clientData" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <label for="firstname">First Name</label>
  <input type="text" formControlName="firstName" id="firstname">

  <label for="lastname">Last Name</label>
  <input type="text" formControlName="lastName" id="lastname">

  <label for="age">Age</label>
  <input type="text" name="age" id="age" formControlName="age">

  <div class="form-group gender">
    <label for="gendermale">Male</label>
    <input type="radio" formControlName="gender" id="gendermale" value="male">

    <label for="genderfemale">Female</label>
    <input type="radio" formControlName="gender" id="genderfemale" value="female">
  </div>


  <label for="condition">Condition</label>
  <input type="text" formControlName="condition" id="condition">
  <div>
    <label for="status">Patient Status:</label>

    <select formControlName="status" id="status">
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
      <option value="discharged">Discharged</option>
    </select>
  </div>

  <label for="weight">Weight (lbs)</label>
  <input type="number" formControlName="weight" id="weight">

  <button type="submit">Submit</button>
  <button type="button">Cancel</button>

  <!--    <label for="treatment">Treatment #</label>-->
  <!--    <input type="text" name="treatment" id="treatment" >-->


</form>
